/backend/src/EagleBank.Infrastructure/bin
/backend/src/EagleBank.Application/bin
/backend/src/EagleBank.Domain/bin
/backend/src/EagleBank.Api/bin
/backend/src/EagleBank.Infrastructure/obj
/backend/src/EagleBank.Application/obj
/backend/src/EagleBank.Domain/obj
/backend/src/EagleBank.Api/obj
/EagleBank/.idea
/backend/.idea
.DS_Store
/.idea

