bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.EagleBank/.idea/aws.xml
.idea/.idea.EagleBank/.idea/encodings.xml
.idea/.idea.EagleBank/.idea/indexLayout.xml
.idea/.idea.EagleBank/.idea/projectSettingsUpdater.xml
